@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-size: 3em;
      text-align: center;
      user-select: none;
    }

    .box-reset {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 500px;
      border-radius: 5px;
      background: #5b8ee5;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
      position: relative;
    }

    .header-title {
      position: absolute;
      top: 4%;
      color: white;
      font-weight: 800;
      font-size: .6em;
      font-family: "Poppins", sans-serif;
    }
    .input-label {
      width: 100%;
      text-align: left;
    }

    .inputOption {
      border: none;
      width: 230px;
      height: 30px;
      font-family: "Poppins", Sans-Serif;
      border-radius: 5px;
      padding: 5px 10px;
      border: 2px solid white;
      position: relative;
    }

    .con-input {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
      font-size: .3em;
      color: White;
    }

    .btn-login:hover {
      transform: scale(.95);
      background: #526fe0;
    }

    .btn-login {
      background: white;
      border: 0;
      padding: 10px 40px;
      border-radius: 10px;
      font-weight: 800;
      transition: all .4s ease;
      box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    }

    .wrong-popup {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 30px;
      width: 400px;
      height: 500px;
      background: white;
      font-weight: 800;
      border-radius: 3px;
      position: fixed;
      transform: scale(1);
      animation: scalePopup .7s ease;
    }

    @keyframes scalePopup {
      from {
        transform: scale(.7);
      }

      to {
        transform: scale(1);
      }
    }

    .cek-wrong {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(2px);
      font-size: .5em;
    }

    .close-popup {
      background: #e81a1a;
      color: white;
      font-weight: 800;
      padding: 10px 30px;
      border: 0;
      border-radius: 5px;
    }
    .con-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      font-family: "Poppins", Sans-Serif;
      font-size: .8em;
      bottom: 5%;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .maintenance {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: white;
      z-index: 99999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Poppins", Sans-Serif;
      font-size: .5em;
    }
    
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

